// $accentColor =#91bef0                       // 主题颜色
// $textColor = #2c3e50                        // 文本颜色
// $borderColor = #eaecef                      // 边框线颜色
// $codeBgColor = #282c34                      // 代码块背景色
// $backgroundColor = #ffffff                  // 悬浮块背景色
// 颜色
$accentColor = #91bef0
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// .home-blog .hero .action, .home-blog .hero .description, .home-blog .hero h1 {
//     // color: #fff!important;
//     color: rgb(240,145,190)!important;
// } 

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px